body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}
img.cover {
  box-shadow: 5px 5px 10px;
  color: black;
}
.bookentry {
  margin-top: 7em;
}
.booktitle {
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
}
.bookcover {
  text-align: center;
}
h1 {
  margin-top: 1.5em;
  text-align: center;
}
.author-comment {
  text-align: right;
}
li b {
  color: #202020;
}
.footer {
    text-align: right;    
    border-top: thin solid gray;
    padding-top: 3px;
}
.footer > a {
  padding-left: 1em;
}
a {
    color: #9933FF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #4C0099;
}
